In [ ]:
#radians to degree
import math

def radians_to_degrees(radians):
    return radians * (180 / math.pi)

# Example usage:
angle_in_radians = 2.5
angle_in_degrees = radians_to_degrees(angle_in_radians)
print(angle_in_degrees)

143.2394487827058

In [ ]:
#Ascending,descending
def sort_numbers(numbers, order):
    if order == "asc":
        return sorted(numbers)
    elif order == "desc":
        return sorted(numbers, reverse=True)
    elif order == "none":
        return numbers
    else:
        return "Invalid order parameter. Please use 'asc', 'desc', or 'none'."

# Get user input for list of numbers
numbers_str = input("Enter numbers separated by spaces: ")
numbers_list = [int(num) for num in numbers_str.split()]

# Get user input for sorting order
order = input("Enter sorting order ('asc', 'desc', or 'none'): ")

# Call the function with user inputs
result = sort_numbers(numbers_list, order)
print("Result:", result)

Enter numbers separated by spaces: 1 2 3 4 7 3 6
Enter sorting order ('asc', 'desc', or 'none'): desc
Result: [7, 6, 4, 3, 3, 2, 1]

In [ ]:
#decimal to binary
def decimal_to_binary(decimal):
    if not 0 <= decimal < 1024:
        return "Decimal number must be between 0 and 1023."
    binary = bin(decimal)[2:]  # Convert decimal to binary string, remove '0b' prefix
    return binary

# Example usage:
decimal_number = 67
binary_number = decimal_to_binary(decimal_number)
print(binary_number)

1000011

In [ ]:
#vowels in a string
def count_vowels(word):
    vowels = 'aeiouAEIOU'  # Include both lowercase and uppercase vowels
    count = 0
    for char in word:
        if char in vowels:
            count += 1
    return count

# Example usage:
word = "hello"
num_vowels = count_vowels(word)
print("Number of vowels in", word, ":", num_vowels)

Number of vowels in hello : 2

In [ ]:
#credit card number hiding
def hide_credit_card_number(card_number):
    hidden_part = '*' * (len(card_number) - 4)
    visible_part = card_number[-4:]
    return hidden_part + visible_part

# Example usage:
credit_card_number = "4444444444444444"
hidden_number = hide_credit_card_number(credit_card_number)
print(hidden_number)

************4444

In [ ]:
#calculator
def perform_operation(num1, operator, num2):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '/':
        if num2 == 0:
            return "Error: Division by zero!"
        return num1 / num2
    elif operator == '*':
        return num1 * num2
    else:
        return "Invalid operator."

# Example usage:
result = perform_operation(5, '+', 3)
print("Result:", result)

result = perform_operation(10, '/', 2)
print("Result:", result)

result = perform_operation(4, '*', 7)
print("Result:", result)

result = perform_operation(8, '-', 6)
print("Result:", result)

Result: 8
Result: 5.0
Result: 28
Result: 2

In [ ]:
#discount
def apply_discount(full_price, discount_percentage):
    discount_amount = full_price * (discount_percentage / 100)
    discounted_price = full_price - discount_amount
    return discounted_price

# Example usage:
full_price = 100
discount_percentage = 20
discounted_price = apply_discount(full_price, discount_percentage)
print("Discounted price:", discounted_price)

Discounted price: 80.0

In [ ]:
#non negative integers
def filter_integers(input_list):
    return [x for x in input_list if isinstance(x, int) and x >= 0]

# Example usage:
mixed_list = [5, 'apple', 8, 'banana', 10, 'orange', 3]
filtered_integers = filter_integers(mixed_list)
print("Filtered integers:", filtered_integers)

Filtered integers: [5, 8, 10, 3]

In [ ]:
#repeat the characters
def double_characters(input_string):
    doubled_string = ''.join(char * 2 for char in input_string)
    return doubled_string

# Example usage:
original_string = "now"
doubled_string = double_characters(original_string)
print("Doubled string:", doubled_string)

original_string = "123a!"
doubled_string = double_characters(original_string)
print("Doubled string:", doubled_string)

Doubled string: nnooww
Doubled string: 112233aa!!