In [2]:
name = input("Enter your name")
age = int(input("Enter your age"))
study = input("Your study please")
print("Your biodata:")
print("Iam " + name)
print(age)
print("Iam pursuing my degree in " + study)

Enter your nameMecon
Enter your age5
Your study pleaseStandard 8
Your biodata:
Iam Mecon
5
Iam pursuing my degree in Standard 8

In [3]:
for num in range(1500,2700):
    if(num%7 == 0):
        print(num,"is divisible by 7")
    if(num%5 == 0):
        print(num,"is a multiple 5")

1500 is a multiple 5
1505 is divisible by 7
1505 is a multiple 5
1510 is a multiple 5
1512 is divisible by 7
1515 is a multiple 5
1519 is divisible by 7
1520 is a multiple 5
1525 is a multiple 5
1526 is divisible by 7
1530 is a multiple 5
1533 is divisible by 7
1535 is a multiple 5
1540 is divisible by 7
1540 is a multiple 5
1545 is a multiple 5
1547 is divisible by 7
1550 is a multiple 5
1554 is divisible by 7
1555 is a multiple 5
1560 is a multiple 5
1561 is divisible by 7
1565 is a multiple 5
1568 is divisible by 7
1570 is a multiple 5
1575 is divisible by 7
1575 is a multiple 5
1580 is a multiple 5
1582 is divisible by 7
1585 is a multiple 5
1589 is divisible by 7
1590 is a multiple 5
1595 is a multiple 5
1596 is divisible by 7
1600 is a multiple 5
1603 is divisible by 7
1605 is a multiple 5
1610 is divisible by 7
1610 is a multiple 5
1615 is a multiple 5
1617 is divisible by 7
1620 is a multiple 5
1624 is divisible by 7
1625 is a multiple 5
1630 is a multiple 5
1631 is divisible by 7
1635 is a multiple 5
1638 is divisible by 7
1640 is a multiple 5
1645 is divisible by 7
1645 is a multiple 5
1650 is a multiple 5
1652 is divisible by 7
1655 is a multiple 5
1659 is divisible by 7
1660 is a multiple 5
1665 is a multiple 5
1666 is divisible by 7
1670 is a multiple 5
1673 is divisible by 7
1675 is a multiple 5
1680 is divisible by 7
1680 is a multiple 5
1685 is a multiple 5
1687 is divisible by 7
1690 is a multiple 5
1694 is divisible by 7
1695 is a multiple 5
1700 is a multiple 5
1701 is divisible by 7
1705 is a multiple 5
1708 is divisible by 7
1710 is a multiple 5
1715 is divisible by 7
1715 is a multiple 5
1720 is a multiple 5
1722 is divisible by 7
1725 is a multiple 5
1729 is divisible by 7
1730 is a multiple 5
1735 is a multiple 5
1736 is divisible by 7
1740 is a multiple 5
1743 is divisible by 7
1745 is a multiple 5
1750 is divisible by 7
1750 is a multiple 5
1755 is a multiple 5
1757 is divisible by 7
1760 is a multiple 5
1764 is divisible by 7
1765 is a multiple 5
1770 is a multiple 5
1771 is divisible by 7
1775 is a multiple 5
1778 is divisible by 7
1780 is a multiple 5
1785 is divisible by 7
1785 is a multiple 5
1790 is a multiple 5
1792 is divisible by 7
1795 is a multiple 5
1799 is divisible by 7
1800 is a multiple 5
1805 is a multiple 5
1806 is divisible by 7
1810 is a multiple 5
1813 is divisible by 7
1815 is a multiple 5
1820 is divisible by 7
1820 is a multiple 5
1825 is a multiple 5
1827 is divisible by 7
1830 is a multiple 5
1834 is divisible by 7
1835 is a multiple 5
1840 is a multiple 5
1841 is divisible by 7
1845 is a multiple 5
1848 is divisible by 7
1850 is a multiple 5
1855 is divisible by 7
1855 is a multiple 5
1860 is a multiple 5
1862 is divisible by 7
1865 is a multiple 5
1869 is divisible by 7
1870 is a multiple 5
1875 is a multiple 5
1876 is divisible by 7
1880 is a multiple 5
1883 is divisible by 7
1885 is a multiple 5
1890 is divisible by 7
1890 is a multiple 5
1895 is a multiple 5
1897 is divisible by 7
1900 is a multiple 5
1904 is divisible by 7
1905 is a multiple 5
1910 is a multiple 5
1911 is divisible by 7
1915 is a multiple 5
1918 is divisible by 7
1920 is a multiple 5
1925 is divisible by 7
1925 is a multiple 5
1930 is a multiple 5
1932 is divisible by 7
1935 is a multiple 5
1939 is divisible by 7
1940 is a multiple 5
1945 is a multiple 5
1946 is divisible by 7
1950 is a multiple 5
1953 is divisible by 7
1955 is a multiple 5
1960 is divisible by 7
1960 is a multiple 5
1965 is a multiple 5
1967 is divisible by 7
1970 is a multiple 5
1974 is divisible by 7
1975 is a multiple 5
1980 is a multiple 5
1981 is divisible by 7
1985 is a multiple 5
1988 is divisible by 7
1990 is a multiple 5
1995 is divisible by 7
1995 is a multiple 5
2000 is a multiple 5
2002 is divisible by 7
2005 is a multiple 5
2009 is divisible by 7
2010 is a multiple 5
2015 is a multiple 5
2016 is divisible by 7
2020 is a multiple 5
2023 is divisible by 7
2025 is a multiple 5
2030 is divisible by 7
2030 is a multiple 5
2035 is a multiple 5
2037 is divisible by 7
2040 is a multiple 5
2044 is divisible by 7
2045 is a multiple 5
2050 is a multiple 5
2051 is divisible by 7
2055 is a multiple 5
2058 is divisible by 7
2060 is a multiple 5
2065 is divisible by 7
2065 is a multiple 5
2070 is a multiple 5
2072 is divisible by 7
2075 is a multiple 5
2079 is divisible by 7
2080 is a multiple 5
2085 is a multiple 5
2086 is divisible by 7
2090 is a multiple 5
2093 is divisible by 7
2095 is a multiple 5
2100 is divisible by 7
2100 is a multiple 5
2105 is a multiple 5
2107 is divisible by 7
2110 is a multiple 5
2114 is divisible by 7
2115 is a multiple 5
2120 is a multiple 5
2121 is divisible by 7
2125 is a multiple 5
2128 is divisible by 7
2130 is a multiple 5
2135 is divisible by 7
2135 is a multiple 5
2140 is a multiple 5
2142 is divisible by 7
2145 is a multiple 5
2149 is divisible by 7
2150 is a multiple 5
2155 is a multiple 5
2156 is divisible by 7
2160 is a multiple 5
2163 is divisible by 7
2165 is a multiple 5
2170 is divisible by 7
2170 is a multiple 5
2175 is a multiple 5
2177 is divisible by 7
2180 is a multiple 5
2184 is divisible by 7
2185 is a multiple 5
2190 is a multiple 5
2191 is divisible by 7
2195 is a multiple 5
2198 is divisible by 7
2200 is a multiple 5
2205 is divisible by 7
2205 is a multiple 5
2210 is a multiple 5
2212 is divisible by 7
2215 is a multiple 5
2219 is divisible by 7
2220 is a multiple 5
2225 is a multiple 5
2226 is divisible by 7
2230 is a multiple 5
2233 is divisible by 7
2235 is a multiple 5
2240 is divisible by 7
2240 is a multiple 5
2245 is a multiple 5
2247 is divisible by 7
2250 is a multiple 5
2254 is divisible by 7
2255 is a multiple 5
2260 is a multiple 5
2261 is divisible by 7
2265 is a multiple 5
2268 is divisible by 7
2270 is a multiple 5
2275 is divisible by 7
2275 is a multiple 5
2280 is a multiple 5
2282 is divisible by 7
2285 is a multiple 5
2289 is divisible by 7
2290 is a multiple 5
2295 is a multiple 5
2296 is divisible by 7
2300 is a multiple 5
2303 is divisible by 7
2305 is a multiple 5
2310 is divisible by 7
2310 is a multiple 5
2315 is a multiple 5
2317 is divisible by 7
2320 is a multiple 5
2324 is divisible by 7
2325 is a multiple 5
2330 is a multiple 5
2331 is divisible by 7
2335 is a multiple 5
2338 is divisible by 7
2340 is a multiple 5
2345 is divisible by 7
2345 is a multiple 5
2350 is a multiple 5
2352 is divisible by 7
2355 is a multiple 5
2359 is divisible by 7
2360 is a multiple 5
2365 is a multiple 5
2366 is divisible by 7
2370 is a multiple 5
2373 is divisible by 7
2375 is a multiple 5
2380 is divisible by 7
2380 is a multiple 5
2385 is a multiple 5
2387 is divisible by 7
2390 is a multiple 5
2394 is divisible by 7
2395 is a multiple 5
2400 is a multiple 5
2401 is divisible by 7
2405 is a multiple 5
2408 is divisible by 7
2410 is a multiple 5
2415 is divisible by 7
2415 is a multiple 5
2420 is a multiple 5
2422 is divisible by 7
2425 is a multiple 5
2429 is divisible by 7
2430 is a multiple 5
2435 is a multiple 5
2436 is divisible by 7
2440 is a multiple 5
2443 is divisible by 7
2445 is a multiple 5
2450 is divisible by 7
2450 is a multiple 5
2455 is a multiple 5
2457 is divisible by 7
2460 is a multiple 5
2464 is divisible by 7
2465 is a multiple 5
2470 is a multiple 5
2471 is divisible by 7
2475 is a multiple 5
2478 is divisible by 7
2480 is a multiple 5
2485 is divisible by 7
2485 is a multiple 5
2490 is a multiple 5
2492 is divisible by 7
2495 is a multiple 5
2499 is divisible by 7
2500 is a multiple 5
2505 is a multiple 5
2506 is divisible by 7
2510 is a multiple 5
2513 is divisible by 7
2515 is a multiple 5
2520 is divisible by 7
2520 is a multiple 5
2525 is a multiple 5
2527 is divisible by 7
2530 is a multiple 5
2534 is divisible by 7
2535 is a multiple 5
2540 is a multiple 5
2541 is divisible by 7
2545 is a multiple 5
2548 is divisible by 7
2550 is a multiple 5
2555 is divisible by 7
2555 is a multiple 5
2560 is a multiple 5
2562 is divisible by 7
2565 is a multiple 5
2569 is divisible by 7
2570 is a multiple 5
2575 is a multiple 5
2576 is divisible by 7
2580 is a multiple 5
2583 is divisible by 7
2585 is a multiple 5
2590 is divisible by 7
2590 is a multiple 5
2595 is a multiple 5
2597 is divisible by 7
2600 is a multiple 5
2604 is divisible by 7
2605 is a multiple 5
2610 is a multiple 5
2611 is divisible by 7
2615 is a multiple 5
2618 is divisible by 7
2620 is a multiple 5
2625 is divisible by 7
2625 is a multiple 5
2630 is a multiple 5
2632 is divisible by 7
2635 is a multiple 5
2639 is divisible by 7
2640 is a multiple 5
2645 is a multiple 5
2646 is divisible by 7
2650 is a multiple 5
2653 is divisible by 7
2655 is a multiple 5
2660 is divisible by 7
2660 is a multiple 5
2665 is a multiple 5
2667 is divisible by 7
2670 is a multiple 5
2674 is divisible by 7
2675 is a multiple 5
2680 is a multiple 5
2681 is divisible by 7
2685 is a multiple 5
2688 is divisible by 7
2690 is a multiple 5
2695 is divisible by 7
2695 is a multiple 5

In [5]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())
num5 = int(input())
print("Total marks are ", num1 + num2 + num3 + num4 + num5)
print("Average of the total mark is ",(num1+num2+num3+num4+num5)/5)

78
77
98
87
90
Total marks are  430
Average of the total mark is  86.0

In [6]:
num_1 = int(input())
num_2 = int(input())
operator = input()
# addition, subtraction, division and multiplication are similar to math
if operator == '+':
    result = num_1+num_2
elif operator == '-':
    result = num_1-num_2
elif operator == '*':
    result = num_1*num_2
if operator == '//':
    result = num_1 // num_2
if operator == '%':
    result = num_1 % num_2
if operator == '**':
    result = num_1 ** num_2
print(result)

78
2
//
39

In [7]:
#Taking the input for three sides
side1 = float(input())
side2 = float(input())
side3 = float(input())
if(side1==side2 and side2==side3):
    print("Equilateral Triangle")
elif(side1==side2 or side2==side3 or side1==side3 ):
    print("Isoceles Triangle")
else:
    print("Scalene Triangle")

6
3
2
Scalene Triangle

In [8]:
def swap(num1,num2):
    num_1 = num1
    num1 = (num1+num2)-num1
    num2 = (num_1+num2)-num2
    return num1,num2

def swaptemp(a,b):
    temp = b
    b = a
    a = temp
    return a,b

print(swaptemp(22,55))
print(swap(34,87))

(55, 22)
(87, 34)

In [9]:
number = int(input())
for i in range(1,number+1):
    if(i%3==0 and i%5==0):
        print("FizzBuzz")
    elif(i%3==0):
        print("Fizz")
    elif(i%5==0):
        print("Buzz")
    else:
        print(i)

9
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz

In [10]:
a = int(input())
b = int(input())
c = int(input())
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print(area,"units")

5
3
4
6.0 units

In [11]:
def sqrt_power(number):
    if number < 0:
        return "Square root is not defined for negative numbers"
    else:
        return number ** 0.5

number = float(input("Enter a number: "))
print("Square root using power of 0.5:", sqrt_power(number))

Enter a number: 625
Square root using power of 0.5: 25.0

In [12]:
def triangle_type(a, b, c):
    # Sort the sides in ascending order
    sides = [a, b, c]
    sides.sort()

    # Check if the triangle is valid
    if sides[0] + sides[1] <= sides[2]:
        return "Invalid Triangle"

    # Determine the type of triangle based on the Pythagorean theorem
    if sides[2] ** 2 < sides[0] ** 2 + sides[1] ** 2:
        return "Acute Triangle"
    elif sides[2] ** 2 == sides[0] ** 2 + sides[1] ** 2:
        return "Right-Angled Triangle"
    else:
        return "Obtuse Triangle"

# Take input from the user for the lengths of the sides
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))

# Determine the type of triangle and print the result
print("The triangle is", triangle_type(a, b, c))

Enter the length of side a: 4
Enter the length of side b: 8
Enter the length of side c: 3
The triangle is Invalid Triangle

In [15]:
number1 = int(input())
number2 = int(input())
number3 = int(input())
if(number1>number2 and number1>number3):
    print("GREATEST among the threee is ",number1)
elif(number2>number1 and number2>number3):
    print("GREATEST among the threee is ",number2)
elif(number3>number1 and number3>number2):
    print("GREATEST among the threee is ",number3)
else:
    print("All three are equal")

89
44
56
GREATEST among the threee is  89

In [16]:
def calculate_grade(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 80:
        return 'B'
    elif marks >= 70:
        return 'C'
    elif marks >= 60:
        return 'D'
    else:
        return 'F'


marks = float(input("Enter the marks (0-100): "))
if 0 <= marks <= 100:
    grade = calculate_grade(marks)
else:
    print("Marks should be between 0 and 100. Please try again.")
print(f"The grade for {marks} marks is: {grade}")

Enter the marks (0-100): 89
The grade for 89.0 marks is: B

In [ ]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0 and year % 400 == 0:
        print("Leap and also a centurion year")
    else:
        print("Leap year but not a centurion year")
else:
    print("Not a leap year")

Enter a year: 2016
Leap year but not a centurion year

In [25]:
import random

target_number = random.randint(1, 9)  # Generates a random integer between 1 and 9
while True:
    guess = int(input("Enter a number you guess: "))
    if guess == target_number:
        print("Well guessed!")
        break
    else:
        print("Try again")

Enter a number you guess: 5
Well guessed!

3

In [26]:
list1 = [i for i in range(1, 21)]
list2 = [i**2 for i in range(1, 21)]

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [27]:
number = int(input())
i=1
while(i<=number):
    j=1
    while(j<=i):
        print("*",end=" ")
        j += 1
    print()
    i += 1

4
*
* *
* * *
* * * *

In [28]:
def sum_digits(num):
    sum = 0
    while  num!=0:
        digit = num%10
        sum += digit
        num = num//10
    return sum
input_num = int(input())
sum_digits(input_num)

246

12

In [29]:
#Check for the palindrome of a number
number = int(input())
reverse = 0
t = number
while(t>0):
    remainder = t % 10
    reverse = reverse * 10 + remainder
    t = t // 10

if(reverse==number):
    print("PALINDROME NUMBER")
else:
    print("Not a PALINDROME NUMBER")

789987
PALINDROME NUMBER

In [30]:
def isboolean(num1,num2):
    if num1%num2==0 or  num2%num1==0:
        return True
    else:
        return False
isboolean(16,3)

False

In [31]:
#To check for a prime number
number = int(input())
count = 0
for i in range(1,number+1):
    if(number%i==0):
        count = count + 1
if(count==2):
    print("PRIME number")

3
PRIME number

In [32]:
def check(input_num):
    low_lim = int(input("Enter the lower limit: "))
    up_lim = int(input("Enter the upper limit: "))
    for i in range(low_lim, up_lim):
        if input_num == i:
            return True
    return False

print(check(6))

Enter the lower limit: 1
Enter the upper limit: 12
True

In [33]:
def Armstrong():
    number = int(input("Enter a number"))
    armstrong = 0
    t = number
    while(t>0):
        remainder = t % 10
        armstrong = remainder * remainder * remainder + armstrong
        t = t // 10
    if(number == armstrong):
        print("It is an Armstrong number")
Armstrong()

Enter a number153
It is an Armstrong number

In [34]:
def is_perfect_number(num):
    or_num = num
    divisor_sum = 0
    for i in range(1,num):
        if  num%i == 0:
            divisor_sum += i
            print("factor:",i)
    return divisor_sum == or_num


num = int(input("Enter a number to check if it's perfect: "))
if num <= 0:
    print("Please enter a positive integer.")
if is_perfect_number(num):
    print(f"{num} is a perfect number.")
else:
    print(f"{num} is not a perfect number.")

Enter a number to check if it's perfect: 145
factor: 1
factor: 5
factor: 29
145 is not a perfect number.

In [35]:
#Factorial of a given number
number = int(input())
factorial = 1
for i in range(1,number+1):
    factorial = factorial * i
print(factorial)

7
5040

In [36]:
def fibonacci(n):
    first = 0
    second = 1
    for c in range(0,n):
        if c==0 or c== 1:
            next = c
        else:
            next = first+second
            first = second
            second = next
        print(next)
fibonacci(11)

0
1
1
2
3
5
8
13
21
34
55

In [37]:
def prime(n):
    count = 0
    for i in range(1, n + 1):
        if n % i == 0:
            count += 1
    return count == 2

input_number = int(input("Enter a number: "))

def prime_less(input_num):
    for i in range(input_num - 1, 1, -1):  # Start from input_num - 1 down to 2
        if prime(i):
            print(i)


prime_less(input_number)

Enter a number: 89
83
79
73
71
67
61
59
53
47
43
41
37
31
29
23
19
17
13
11
7
5
3
2